
[build.environment]
  NODE_VERSION = "16"
  NPM_FLAGS = "--version" # prevent Netlify npm install

[build]
  publish = "frontend/dist"
  command = "npx pnpm i --store=node_modules/.pnpm-store && cd frontend && npm run build"